AdventOfCode/.vs
AdventOfCode/Day01/Debug
AdventOfCode/Day02/Debug
AdventOfCode/Day03/Debug
AdventOfCode/Day04/Debug
AdventOfCode/Day05/Debug
AdventOfCode/Day06/Debug
AdventOfCode/Day07/Debug
AdventOfCode/Day08/Debug
AdventOfCode/Day09/Debug
AdventOfCode/Day10/Debug
AdventOfCode/Day11/Debug
AdventOfCode/Day12/Debug
AdventOfCode/Day13/Debug
AdventOfCode/Day14/Debug
AdventOfCode/Day15/Debug
AdventOfCode/Day16/Debug
AdventOfCode/Day17/Debug
AdventOfCode/Day18/Debug
AdventOfCode/Day19/Debug
AdventOfCode/Day20/Debug
AdventOfCode/Day21/Debug
AdventOfCode/Day22/Debug
AdventOfCode/Day23/Debug
AdventOfCode/Day24/Debug
AdventOfCode/Day25/Debug
AdventOfCode/Day26/Debug
AdventOfCode/Day27/Debug
AdventOfCode/Day28/Debug
AdventOfCode/Day29/Debug
