AdventOfCode/.vs
AdventOfCode/Release
AdventOfCode/Day01/Debug
AdventOfCode/Day02/Debug
AdventOfCode/Day03/Debug
AdventOfCode/Day04/Debug
AdventOfCode/Day05/Debug
AdventOfCode/Day06/Debug
AdventOfCode/Day07/Debug
AdventOfCode/Day08/Debug
AdventOfCode/Day09/Debug
AdventOfCode/Day10/Debug
AdventOfCode/Day11/Debug
AdventOfCode/Day12/Debug
AdventOfCode/Day13/Debug
AdventOfCode/Day14/Debug
AdventOfCode/Day15/Debug
AdventOfCode/Day16/Debug
AdventOfCode/Day17/Debug
AdventOfCode/Day18/Debug
AdventOfCode/Day19/Debug
AdventOfCode/Day20/Debug
AdventOfCode/Day21/Debug
AdventOfCode/Day22/Debug
AdventOfCode/Day23/Debug
AdventOfCode/Day24/Debug
AdventOfCode/Day25/Debug
AdventOfCode/Day26/Debug
AdventOfCode/Day27/Debug
AdventOfCode/Day28/Debug
AdventOfCode/Day29/Debug
AdventOfCode/Day01/Release
AdventOfCode/Day02/Release
AdventOfCode/Day03/Release
AdventOfCode/Day04/Release
AdventOfCode/Day05/Release
AdventOfCode/Day06/Release
AdventOfCode/Day07/Release
AdventOfCode/Day08/Release
AdventOfCode/Day09/Release
AdventOfCode/Day10/Release
AdventOfCode/Day11/Release
AdventOfCode/Day12/Release
AdventOfCode/Day13/Release
AdventOfCode/Day14/Release
AdventOfCode/Day15/Release
AdventOfCode/Day16/Release
AdventOfCode/Day17/Release
AdventOfCode/Day18/Release
AdventOfCode/Day19/Release
AdventOfCode/Day20/Release
AdventOfCode/Day21/Release
AdventOfCode/Day22/Release
AdventOfCode/Day23/Release
AdventOfCode/Day24/Release
AdventOfCode/Day25/Release
AdventOfCode/Day26/Release
AdventOfCode/Day27/Release
AdventOfCode/Day28/Release
AdventOfCode/Day29/Release
